
body {
    background-image: url('https://live.staticflickr.com/5256/5487853395_e3f8173570_c.jpg');
    background-size: cover;
}
h1 {
    color: darkgreen;
    background-color: white;
    border: 1px solid black;
}

p  { 
    color: black;

}